.faixa8 {
  padding: 50px 50px;
  background-color: #171717;

  text-align: center;
}

.f8_botao button {
  background-color: #ee2e5d;
  color: white;

  font-family: Warren1;
  font-size: 1em;
  font-weight: bold;

  padding: 25px 30px;
  border-radius: 40px;
  border: none;
  outline: none;

  letter-spacing: 1px;
}
